.login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }

  .content{
    box-shadow: 0 0 10px #aaaaaa;
    position: relative;
    width: 100%;
    height: 80%;
    background-color: #fff;
    padding: 3rem;
  }
  .mypage {
    position: relative; 
    /* margin: auto; */
    width: 100%;
    height: 100%;
    padding: 1rem;
    /* border: 1px solid lightgray; */
    overflow: scroll;
  }
